@charset "UTF-8";

.cuadricula {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 10px 10px;
	grid-auto-flow: row;
	grid-template-areas: ". . . .";
}

.producto {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	gap: 10px 0px;
	grid-auto-flow: row;
	grid-template-areas: 
		"prod_cabecera" 
		"prod_cuerpo" 
		"prod_pie";

	padding:5px;
	border-radius:3px;
	
	background-color:var(--colorPrincipalClaro);
	
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.48);
}

.prod_cabecera {
	grid-area: prod_cabecera;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.prod_cabecera h2:first-child{
	width:100%
} 

.prod_cuerpo {
	grid-area: prod_cuerpo;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.prod_cuerpo p{
	padding-left:10px;
}


.prod_pie {
	grid-area: prod_pie;
}